doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/nymLogger.png')
    script(src='https://unpkg.com/loglevel/dist/loglevel.min.js')
    script(src='https://unpkg.com/loglevel-plugin-remote@^0.6/dist/loglevel-plugin-remote.min.js')
  body
    nav
      navbar-default  div
        img:src='/images/nymLogger.png'
        h1 NYM Logger!
      ul
        li
          a Home
        li
          a About
      input
    block content
