extends layout

block content
    script(src='/javascripts/login.js', defer)
    section(class="login-form")
        div(class="form-group", style="position: relative;")
            input(id="email", name="email", class="form-control", placeholder=" ")
            div(class="floater")
        div(class="form-group", style="position: relative")
            input(type="password" id="password", name="password", class="form-control", placeholder=" ")
            div(class="floater")            
        button(id="login-button" class="pure-material-button-contained") OK
        p(class="error-message")
